html{ font-size: 100px; color: #333; }
body{ font-size: 0; }
a{ color: #333; }
.clearfix{ *zoom: 1; }
.clearfix:after{ content: ""; display: block; clear: both; height: 0; visibility: hidden; }
#entry{ width: 100%; height: 100%; }
.page{ width: 100%; min-height: 100%; font-size: 0.28rem; }
.bgcolor{ background-color: #efeff4; }

/*.page-album{ padding: 0 0 1.2rem; }
.page-album  .p-title{ background-color: #fff3e3; padding: 0.1rem 0.2rem; margin-bottom: 0.1rem; }
.page-album .content .box{ display: flex; flex-wrap: wrap; }
.page-album .content .list{ width: 50%; padding: 0.15rem 0.1rem; }
.page-album .content .list:nth-child(2n){ padding-right: 0.2rem; }
.page-album .content .list:nth-child(2n+1){ padding-left: 0.2rem; }
.page-album .content .list dt{ height: 2rem; overflow: hidden; }
.page-album .content .list dd{ height: 0.4rem; padding-top: 0.08rem; }
.page-album .content .list img{ width: 100%; min-height: 100%; }*/

/* 底部导航 */
.footer-nav{ position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f4f4f4; z-index: 99; }
.footer-nav .nav{ display: flex; }
.footer-nav .nav li{ flex: 1; }
.footer-nav .nav a{ display: block; height: 1rem; color: #333; text-align: center; }
.footer-nav .nav span{ display: block; }
.footer-nav .nav .icon{ display: inline-block; width: 0.5rem; height: 0.5rem; background-position: center; background-repeat: no-repeat; background-size: 100% auto; margin-top: 0.1rem; }
.footer-nav .nav .text{ font-size: 0.24rem; margin-top: -0.05rem; }
.footer-nav .nav .router-link-active{ color: #ff9400; }
.footer-nav .nav .icon-home{ background-image: url(../images/icon-home.png); }
.footer-nav .nav .icon-album{ background-image: url(../images/icon-album.png); }
.footer-nav .nav .icon-personal{ background-image: url(../images/icon-personal.png); }
.footer-nav .nav .icon-tools{ background-image: url(../images/icon-tools.png); }
.footer-nav .nav .router-link-active .icon-home{ background-image: url(../images/icon-home-active.png); }
.footer-nav .nav .router-link-active .icon-album{ background-image: url(../images/icon-album-active.png); }
.footer-nav .nav .router-link-active .icon-personal{ background-image: url(../images/icon-personal-active.png); }
.footer-nav .nav .router-link-active .icon-tools{ background-image: url(../images/icon-tools-active.png); }

.top-toolbar{ width: 100%; height: 1rem; line-height: 1rem; background-color: #fff; overflow: auto; border-bottom: solid 0.015rem #eee; }
.top-toolbar .box{ width: 5000px; }
.top-toolbar .menu{ float: left; line-height: 1rem; padding: 0 0.2rem; font-size: 0.30rem; }
.top-toolbar .menu:nth-child(1){ padding-left: 0.4rem; }
.top-toolbar .menu:nth-last-child(1){ padding-right: 0.4rem; }
.top-toolbar .highlight{ color: #ff9400; }

/* 首页 */
.page-home{ padding: 0.01rem 0 1.2rem; }
.page-home  .p-title{  }
.page-home .content{ width: 100%; position: absolute; top: 1rem; bottom: 1rem; }
.page-home .content .box{  }
.page-home .content .list{ padding: 0.2rem; background-color: #fff; margin-top: 0.3rem; font-size: 0.32rem;  }
.page-home .content .list dt{ overflow: hidden; }
.page-home .content .list .dl-title{ padding: 0 0 0.1rem; color: #ff9400; }
.page-home .content .list .dl-time{ padding-top: 0.1rem; font-size: 0.24rem; color: #999; }

/* 新闻页 */
.page-news{ padding: 0.01rem 0 1.2rem; }
.page-news  .p-title{  }
.page-news .content{ width: 100%; position: absolute; top: 1rem; bottom: 1rem; }
.page-news .newsbox{  }
.page-news .newsbox .list{ padding: 0 0.2rem; background-color: #fff; }
.page-news .newsbox .list dl{ padding: 0.25rem 0; border-top: solid 0.015rem #eee; }
.page-news .newsbox .list:nth-child(1) dl{ border: 0; }
.page-news .newsbox .list .dl-header{ padding: 0 0 0.1rem; margin-top: -0.05rem; }
.page-news .newsbox .list .dl-header .main{ font-size: 0.34rem; color: #000; }
.page-news .newsbox .list .dl-imgs{ display: flex; padding: 0.05rem 0 0.16rem; }
.page-news .newsbox .list .dl-imgs .img{ flex: 1; height: 1.4rem; padding-left: 0.1rem; }
.page-news .newsbox .list .dl-imgs .img:nth-child(1){ padding-left: 0; }
.page-news .newsbox .list .dl-imgs .img img{ width: 100%; height: 100%; }
.page-news .newsbox .list .dl-footer{ font-size: 0.22rem; color: #999; }
.page-news .newsbox .list .dl-footer span{ margin-right: 0.1rem; }
.page-news .newsbox .list .dl-footer .category{ color: #666; }

.page-news .newsbox .list .dl-col-2{ display: flex; }
.page-news .newsbox .list .dl-col-2 .dl-header{ flex: 1; padding: 0 0.1rem 0 0; }
.page-news .newsbox .list .dl-col-2 .dl-header .dl-footer{ padding-top: 0.16rem; }
.page-news .newsbox .list .dl-col-2 .dl-imgs{ width: 2rem; height: 1.4rem; padding: 0; }
.page-news .newsbox .list .dl-col-2 .dl-imgs .img{ padding: 0; }


/* 相册 */
.page-album{ padding: 0.01rem 0 1.2rem; }
.page-album  .p-title{  }
.page-album .content{ width: 100%; position: absolute; top: 0.8rem; bottom: 1rem; }
.page-album .content .box{  }
.page-album .content .list{ padding: 0.2rem; background-color: #fff; margin-top: 0.3rem;}
.page-album .content .list:nth-child(1){ margin-top: 0.2rem;}
.page-album .content .list dt{ overflow: hidden; }
.page-album .content .list dd{ padding-top: 0.1rem; }
.page-album .content .list img{ width: 100%; }


/* 列表ui */
.ui-view-cell{ margin-bottom: 0.2rem; font-size: 0.28rem; background-color: #fff; }
.ui-view-cell ul{ padding: 0 0 0 0.3rem; }
.ui-view-cell span{ display: block; }
.ui-view-cell .section-title{ font-size: 0.28rem; color:#666; position: relative; padding: 0.25rem 0.6rem 0.25rem 0.3rem; border-bottom: solid 0.02rem #e4e4e4; }
.ui-view-cell .section-title:after{ content: ""; clear: both; display: block; width: 0.08rem; height: 0.28rem; position: absolute; top: 50%; left: 0; margin-top: -0.14rem; background-color: #ef8c31; }
.ui-view-cell .section-title .sub{ display: inline-block; }
.ui-view-cell .color{ color: #f08b2f; }
.ui-view-cell .r-left{ float: left; }
.ui-view-cell .r-right{ float: right; color: #666; }
.ui-view-cell .view-cell{ padding: 0.24rem 0.3rem 0.24rem 0; border-bottom: solid 0.02rem #e4e4e4; position: relative; margin-top: 0.2rem; }
.ui-view-cell .view-cell:nth-last-child(1){ border-bottom: 0; }
.ui-view-cell .view-cell.arrow{ background: url(../images/icon-arrow.png) no-repeat 96% center; background-size: auto 0.28rem; padding-right: 0.26rem; }
.ui-view-cell .view-cell .row-left{ font-size: 0.32rem; }
.ui-view-cell .view-cell .row-right{ }
.ui-view-cell .view-cell .cell{ overflow: hidden; }

/* 按钮组 */
.btns-group{ display: flex; background-color: #fff; }
.btns-group .btn{ width:0; font-size: 0.28rem; flex-grow: 1; text-align: center; height: 0.88rem; line-height: 0.88rem; font-size: 0.36rem; color:#fff; background-color: #f08b2f; border-radius: 0.02rem; }
.btns-group .btn.cancel{ background-color: #ccc; }
.btns-group .btn.btn1{ background: -webkit-gradient(linear, left top, right top, from(#f4b72f), to(#f1982f)); }
html .input{ height: 0.8rem; width: 100%; padding: 0 0.1rem; border: solid 0.02rem #ddd; border-radius: 0.02rem; }
html input::-webkit-input-placeholder{ color: #ccc; }

/* 个人中心 */
.section-personal{ background-color: #fff; }
.section-personal dl{ display: flex; padding: 0.2rem; }
.section-personal .portrait{ width: 1rem; }
.section-personal .portrait .icon{ display: block; width: 1rem; height: 1rem; border: solid 0.02rem #aaa; border-radius: 50%; text-align: center; }
.section-personal .portrait .icon:after{ content: ""; display: inline-block; clear: both; width: 0; height: 100%; margin-right: -0.01rem; vertical-align: middle; }
.section-personal .portrait .icon img{ display: inline-block; max-width: 68%; max-height: 68%; vertical-align: middle; }
.section-personal .link-login{ flex: 1; padding-left: 0.2rem; line-height: 1rem; }
.section-personal .link-login a{ display: inline-block; color: #f08b2f; }

/* 登录 */
.page-login{  }
.page-login .section-head{ font-size: 0.36rem; text-align: center; padding: 1rem 0; }
.page-login .section-input{ padding: 0 1rem; }
.page-login .section-input li{ display: flex; padding: 0.55rem 0.15rem 0.15rem 0 ; border-bottom: solid 0.021rem #ddd; }
.page-login .section-input .input{ flex: 1; margin: 0; height: 0.45rem; margin-left: 0.15rem; padding: 0; border: 0; vertical-align: top; }
.page-login .section-input .input::-webkit-input-placeholder{ color: #ccc; font-size: 0.26rem; }
.page-login .section-input .icon{ width: 0.4rem; height: 0.4rem; margin-top: 0.04rem; background-position: center; background-repeat: no-repeat; background-size: 100% 100%; }
.page-login .section-input .username .icon{ background-image: url(../images/icon-username.png); }
.page-login .section-input .password .icon{ background-image: url(../images/icon-password.png); }
.page-login .section-input .password .input{ font-size: 0.4rem; }
.page-login .btns-group{ margin-top: 1.5rem; }


.wui-loading{ position: absolute; z-index: 9; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 1.2rem; height: 1.2rem; background-color: rgba(0,0,0,1); border-radius: 0.08rem; background-position: center; background-repeat: no-repeat; background-size: 0.7rem auto; background-image: url(../images/loading.gif); }
.wui-loading.full{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; background-image: url(../images/loading1.gif); }
.wui-ajaxerror{ position: absolute; top: 40%; width: 100%; text-align: center; z-index: 9; font-size: 0.24rem; }
.wui-ajaxerror .reset{ display: inline-block; padding: 0.2rem 0.4rem; }

.wui-updropload{ position: absolute; top: 0; bottom: 0; overflow: auto; width: 100%; }
.wui-updropload .wui-container{ position: relative; }
.wui-updropload .loading{ height: 0.9rem; line-height: 0.9rem; text-align: center; }
.wui-updropload .loading .text{ display: inline-block; font-size: 0.24rem; }
.wui-updropload .loading .icon{ display: inline-block; width: 0.28rem; height: 0.28rem; background-position: center; background-repeat: no-repeat; background-size: 0.28rem auto;  background-image: url(../images/loading.gif); vertical-align: top; margin: 0.29rem 0.1rem 0 0; }

.wui-updropload .loading.end .text{  }
.wui-updropload .loading.end .icon{ display: none }





